.third-level-menu
{
    right: -80px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.third-level-menu > li
{
    text-align: center;
    border: 2px solid #444444;
    box-shadow: 5px 5px 5px #444444;
    background: #b3b3b3;
}
.third-level-menu > li:hover { background: #cccccc;}

.second-level-menu
{
    position: absolute;
    top: 5px;
    right: -85px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    text-align: center;
    margin-left: 65px;
    border: 2px solid #444444;
    box-shadow: 5px 5px 5px #444444;
    background: #b3b3b3;
}
.second-level-menu > li:hover { background: #cccccc; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    float: left;
}

.top-level-menu > li
{
    position: relative;
    text-align: center;
    border: 2px solid #444444;
    box-shadow: 5px 5px 5px #444444;
    background: #b3b3b3;
}
.top-level-menu > li:hover { background: #cccccc; }

.top-level-menu li:hover > ul
{
    display: inline;
}

.top-level-menu a
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2.5px;
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }